<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('home.index') }}">Accueil
            <span class="visually-hidden"></span>
          </a>
        </li>
        {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ingrédients</a>
          <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ path('ingredient.index') }}">Vos ingrédients</a>
            <a class="dropdown-item" href="{{ path('ingredient.new') }}">Ajouter un ingrédient</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recettes</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('recette.index') }}">Vos recettes</a>
            <a class="dropdown-item" href="{{ path('recette.new')}}">Ajouter une recette</a>
          </div>
        </li>
      {% endif %}
      {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connecté(e) sous {{ app.user.fullname }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('user.edit', {'id': app.user.id}) }}">Mettre à jour votre profil</a>
            <a class="dropdown-item" href="{{ path('user.edit.password', {'id': app.user.id}) }}">Changer votre mot de passe</a>
            <a class="dropdown-item" href="{{ path('security.logout') }}">Se déconnecter</a>
            {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Espace utilisateur</a>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('security.login') }}">Connexion</a>
          <a class="dropdown-item" href="{{ path('security.registration') }}">Inscription</a>
            {% endif %}
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</nav>