<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('ingredient.index') }}">Mes ingrédients
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('ingredient.new') }}">Ajouter un ingredient
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('recette.index') }}">Mes recettes
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('security.login') }}">Login
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('security.registration') }}">Créer un compte
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('security.registration') }}">Modifier Profil
            <span class="visually-hidden"></span>
          </a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>