{% extends "./base.html.twig" %}
{% block title %}SymRecipe Accueil{% endblock %}
{% block body %}
<div class="container mt-3">
<div class="jumbotron">
  <h5 class="display-6">{% if app.user %}Cher(e) {{ app.user.fullname }}, bienvenue sur SymRecipe!{% else %}Vous êtes à l'accueil de SymRecipe.{% endif %}</h5>
  <p class="lead">SymRecipe est une application de partage de recettes de cuisine.</p>
  <hr class="my-3">
  {% if not app.user %}
  <p>Pour commencer, rendez-vous à la page d'inscription.</p>
  <a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a>&nbsp;<a class="btn btn-primary btn-lg" href="{{ path('security.login') }}" role="button">Connexion</a>
{% endif %}
</div>

<div class="recette">
<h2 class="mt-3">Recettes de la communauté</h2>

<div class= "d-flex justify-content-between">
{% for recette in recettes %}
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Recette n° {{recette.id }}</div>
  <div class="card-body">
    <h6 class="card-title">{{recette.name }}</h6>
    <p class="card-text">{{recette.description|slice(0, 100 ) ~ '...'}}</p>
    <p class="card-text">Difficulté: {{ (recette.difficulty is same as(null)) ? '--' : recette.difficulty|number_format(2, ',') }}, Nb de personnes: {{recette.nbPeople}}, Temps: {{recette.time}}</p>
    <p class="card-text">Favoris:  {% if recette.isFavorite == 0 %} Non {% else %} Oui {% endif %}, Prix: {{ (recette.price is same as(null)) ? '--' : recette.price|number_format(2, ',') }}</p>
    <p class="card-text"><a href="{{ path('recipe.index.public') }}" class="btn btn-primary">Voir</a></p>
  </div>
</div>

{% endfor %}
</div>
{% endblock %}
